main {
  .container {
    height: 497px;
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    background: $white;
    border-radius: 20px;
    padding: 16px 16px 40px;

    img {
      display: block;
      width: 100%;
      border-radius: 10px;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      h1 {
        @include titleFont;
      }

      p {
        @include textFont;
      }
    }
  }
}
